/Vote.class
/AdaBoostM1.class
/Bagging.class
/LogitBoost.class
/Stacking.class
/MultiScheme.class
/RandomCommittee.class
/RandomSubSpace.class
/AdditiveRegression.class
/CVParameterSelection$CVParameter.class
/CVParameterSelection.class
/FilteredClassifier.class
/MultiClassClassifier$Code.class
/MultiClassClassifier$ExhaustiveCode.class
/MultiClassClassifier$RandomCode.class
/MultiClassClassifier$StandardCode.class
/MultiClassClassifier.class
/AttributeSelectedClassifier.class
/ClassificationViaRegression.class
/CostSensitiveClassifier.class
/IterativeClassifierOptimizer.class
/MultiClassClassifierUpdateable.class
/RandomizableFilteredClassifier.class
/RegressionByDiscretization.class
