/SGD.class
/SMO$BinarySMO.class
/SMO.class
/Logistic$OptEng.class
/Logistic$OptEngCG.class
/Logistic$OptObject.class
/Logistic.class
/SGDText$Count.class
/SGDText.class
/SMOreg.class
/GaussianProcesses.class
/LinearRegression.class
/SimpleLogistic.class
/VotedPerceptron.class
/MultilayerPerceptron$ControlPanel.class
/MultilayerPerceptron$NeuralEnd.class
/MultilayerPerceptron$NodePanel.class
/MultilayerPerceptron.class
/SimpleLinearRegression.class
