/ClassOrder.class
/Discretize.class
/AddClassification.class
/AttributeSelection.class
/ClassConditionalProbabilities.class
/MergeNominalValues.class
/NominalToBinary.class
/PartitionMembership.class
