/ObjectiveFunction.class
/ObjectiveFunctionCLL_d.class
/ObjectiveFunctionCLL_df.class
/ObjectiveFunctionCLL_w.class
/ObjectiveFunctionCLL_w2.class
/ObjectiveFunctionCLL_wf.class
/ObjectiveFunctionDBL.class
/ObjectiveFunctionDBL_CLL_d.class
/ObjectiveFunctionDBL_CLL_w.class
/ObjectiveFunctionMSE_d.class
/ObjectiveFunctionMSE_w.class
