/Add.class
/AddID.class
/AddNoise.class
/Center.class
/Copy.class
/Remove.class
/Reorder.class
/AbstractTimeSeries.class
/AddCluster.class
/AddExpression.class
/AddUserFields$AttributeSpec.class
/AddUserFields.class
/AddUserFieldsBeanInfo.class
/AddValues.class
/ChangeDateFormat.class
/ClassAssigner.class
/ClusterMembership.class
/Discretize.class
/FirstOrder.class
/InterquartileRange$ValueType.class
/InterquartileRange.class
/KernelFilter.class
/MakeIndicator.class
/MathExpression.class
/MergeInfrequentNominalValues.class
/MergeManyValues.class
/MergeTwoValues.class
/NominalToBinary.class
/NominalToString.class
/Normalize.class
/NumericCleaner.class
/NumericToBinary.class
/NumericToNominal.class
/NumericTransform.class
/Obfuscate.class
/PKIDiscretize.class
/PartitionedMultiFilter.class
/PotentialClassIgnorer.class
/PrincipalComponents.class
/RandomProjection.class
/RandomSubset.class
/RemoveByName.class
/RemoveType.class
/RemoveUseless.class
/RenameAttribute.class
/RenameNominalValues.class
/ReplaceMissingValues.class
/ReplaceMissingWithUserConstant.class
/ReplaceWithMissingValue.class
/SortLabels$CaseInsensitiveComparator.class
/SortLabels$CaseSensitiveComparator.class
/SortLabels.class
/Standardize.class
/StringToNominal.class
/StringToWordVector$Count.class
/StringToWordVector.class
/SwapValues.class
/TimeSeriesDelta.class
/TimeSeriesTranslate.class
/Transpose.class
